<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="cutcss" value="class='torbold'|class='torboldgrn'|class='redunbold'|class='torboldred'|class='torboldbck'" />
    <!--
    GetFundByName:获取包含特定字段的基金列表
    key=xkey：特定字段
    -->
    <add key="GetFundByName" value="http://fundsuggest.eastmoney.com/FundSearch/api/FundSearchPageAPI.ashx?&amp;m=1&amp;key=xkey&amp;pageindex=0&amp;pagesize=10000&amp;_=1478489399286" />
    <!--
    GetEquityUrl:获取一段时间内的某个基金净值信息
    code=xcod：基金代码
    sdate=btime：起始时间
    edate=etime：结尾时间DESKTOP-Q44OF99 (sa)
    -->
    <add key="GetEquityUrl" value="http://fund.eastmoney.com/f10/F10DataApi.aspx?type=lsjz&amp;code=xsymbol&amp;page=1&amp;per=600&amp;sdate=btime&amp;edate=etime&amp;rt=0.619692361923706" />
    <!--
    add key="GetFundList" value="http://fund.eastmoney.com/data/rankhandler.aspx?op=ph&dt=kf&ft=gp&rs=&gs=0&sc=jzrq&st=desc&sd=2016-08-06&ed=2017-08-06&qdii=&tabSubtype=,,,,,&pi=1&pn=50&dx=1&v=0.4620691142495261" /
    -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ConnectionString" value="server=(localdb)\MSSQLLocalDB;database=ocss;uid=sa;pwd=Changeme_123" />
    <add key="ConStringEncrypt" value="" />
    <!-- Log Level:
			4 - Error
			3 - Info
			2 - Debug
			1 - Trace
		-->
    <add key="LogLevel" value="4" />
    <!--log file path. if value is null or string.empty, don't ouput log to file-->
    <!--example:%LocalAppData%\log.txt-->
    <add key="logPath" value="Config" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.62.0" newVersion="1.0.62.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
